body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
}

#game-board {
  width: 300px;
  height: 300px;
  background-color: black;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid 2px black;
  box-sizing: border-box;
  display: grid;
  place-items: center;
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: solid 15px blue;
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross::before,
.cross::after {
  content: "";
  position: absolute;
  background-color: red;
}

.cross::before {
  left: 50%;
  width: 20%;
  margin-left: -10%;
  height: 100%;
}

.cross::after {
  top: 50%;
  height: 20%;
  margin-top: -10%;
  width: 100%;
}
